<%= turbo_frame_tag dom_id(comment) do %>
    <p><%= comment.user.profile&.name || comment.user.email %></p>
    <p><%= time_ago_in_words(comment.created_at) %>
        <%= t("ago") %> 
    </p>
    <p><%= comment.body %></p>

    <% if defined?(from_stream) && from_stream %>
    <% else %>
        <% if comment.user == current_user %> 
        <p>
            <%= link_to "Edit", edit_comment_path(comment) %>
            <%= link_to "Delete", comment, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </p>
        <% end %>
    <% end %>

<% end %>

