<%= form_with(model: comment) do |form| %>
  <%= form.hidden_field :commentable_type, value: commentable.class.name %>
  <%= form.hidden_field :commentable_id, value: commentable.id %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
