<body>
    <section class="cover">
        <div>
            <div>
                <h1>Каждый из нас хранит часть большой</h1>
                <div class="hstories"></div>
            </div>
            <p>Aeterna помогает сохранить голоса, фото и истории семьи в одном месте — чтобы память жила дольше</p>
        </div>
        <div class="memories"></div>
        <div class="button"><button>Начать сохранять</button>
        </div>
    </section>
    
    <section class="whatDoWeDo">
        <div>
            <div class="chapter">
                <p>что делает Aeterna?</p>
                <div class="arrow"></div>
            </div>
            <div class="whatDoWeDoContent">
                <h2>Сохрани то, что нельзя повторить</h2>
                <div class="whatDoWeDoContent1">
                    <h3>Всё начинается с тебя</h3>
                    <p>Добавь первую историю, фото или воспоминание —
                        пусть семейный архив начинается с тебя</p>
                    <div class="whatDoWeDoContenImages"></div>
                </div>
                <div class="whatDoWeDoContent2">
                    <h3>Это важно для тех, кто рядом</h3>
                    <p>Родные хотят знать, как всё было. Твои воспоминания — часть их памяти</p>
                    <div class="whatDoWeDoContenImages"></div>
                </div>
                    <div class="whatDoWeDoContent3">
                    <h3>Каждый добавляет свой фрагмент, и из множества голосов рождается общая история семьи</h3>
                    <p>Добавь первую историю, фото или воспоминание —
                        пусть семейный архив начинается с тебя</p>
                    <div class="whatDoWeDoContenImages"></div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="whatDoWeCan">
        <div>
            <div class="chapter">
                <p>Что мы можем?</p>
                <div class="arrow"></div>
            </div>
            <div class="whatDoWeDoContent">
                <h2>Всё, что действительно важно вашей семье</h2>
                <div class="whatDoWeDoMainContent">
                    <div class="whatDoWeDoMainContent1">
                    <h3>Только ваша семья</h3>
                    <p>Только вы и ваши близкие имеете доступ. Всё хранится защищённо — приватность на первом месте</p>
                    <div class="whatDoWeDoContenImages"></div>
                    </div>
                    <div class="whatDoWeDoMainContent2">
                    <h3>Много форматов</h3>
                    <p>Фото, видео, аудио и даже 3D-объекты — мы поможем сохранить любые воспоминания</p>
                    <div class="whatDoWeDoContenImages"></div>
                    </div>
                    <div class="whatDoWeDoMainContent3">
                    <h3>Удобно пополнять</h3>
                    <p>С телефона через Telegram-бота, с компьютера или планшета. Интуитивно и быстро</p>
                    <div class="whatDoWeDoContenImages"></div>
                    </div>
                    <div class="whatDoWeDoMainContent4">
                    <h3>Всё под рукой</h3>
                    <p>Воспоминания всегда доступны — в ленте времени, семейном древе или тематических папках</p>
                    <div class="whatDoWeDoContenImages"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="memoriesDisplay">
        <div>
            <div class="chapter">
                <p>Отображение воспоминаний</p>
                <div class="arrow"></div>
            </div>
            <div class="memoriesDisplayContent">
                <h2>Все структурировано</h2>
                <p>Мы отразим все истории в разном виде, удобном для вас — в виде ленты времени, семейного древа или просто альбомов</p>
                <div class="memoriesDisplayMainContent">
                    <div class="memory">
                        <p class="memoryText">Наш первый дом стоял у реки, где росла старая ива</p>
                        <p class="memoryAuthor">Бабушка Мая</p>
                    </div>
                     <div class="memory">
                        <div class="memoryImage"></div>
                        <p class="memorydate">25 мая 2019</p>
                        <div class="memoryLine"></div>
                    </div>
                    <div class="memory">
                        <p class="memoryText">Наш кот прожил с нами 19 лет.На фото он всегда посередине</p>
                        <p class="memoryAuthor">Бабушка Тамара</p>
                    </div>
                    <div class="memory">
                        <p class="memoryText">Мама смеялась, когда я включал её любимую песню</p>
                        <p class="memoryAuthor">Папа</p>
                    </div>
                    <div class="memory">
                        <div class="memoryImage"></div>
                        <p class="memorydate">8 ноября 2015</p>
                        <div class="memoryLine"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="email">
        <div>
            <div>
                <h2>Создай свой цифровой архив семьи</h2>
                <div class="begin"></div>
            </div>
            <p>Подпишитесь на новости Aeterna — будьте в числе первых, кто получит доступ к уникальному семейному архиву</p>
        </div>
        <div class="memories"></div>
        <div class="emailForm">Введите e-mail</div>
        <div class="button"><button>Присоединиться</button>
        </div>
    </section>
    
    <footer>
        <h4>AETERNA</h4>
        <nav class="S_MenuBar">
          <%= link_to "Главная", root_url %>
          <%= link_to "О нас", welcome_about_url %>
          <%= link_to "Лента времени", welcome_time_strip_url %>
          <%= link_to "Сеть", welcome_net_url %>
          <%= link_to "Профиль", welcome_account_url %>
        </nav>
        <div class="authors">
            <p>Чибичик Алёна</p>
            <p>Семеновых Мария</p>
            <p>Ямщикова Виктория</p>
        </div>
    </footer>
</body>