<%= form_with(model: @subscription, html: { class: "Form" }) do |form| %>
  <% if @subscription.errors.any? %>
    <div class="FormErrors">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% @subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="FormField">
    <%= form.email_field :email, class: "FormInput", placeholder: "Введите e-mail" %>
  </div>

  <div class="FormActions">
    <%= form.submit "Подписаться", class: "FormButton" %>
  </div>
<% end %>



