<section class="ShiftLeft">
  <p style="color: green"><%= notice %></p>
  
  <% content_for :title, "Memories" %>
  
  <h1>Memories</h1>

  <div>
    <%= link_to "All memories", memories_path %>
    
    <% Memory.tag_counts_on(:categories).each do |tag| %>
      <%= link_to tag.name, by_tag_memories_path(tag.name) %>
    <% end %>
  </div>

  <hr>
  
  <%= link_to 'Создать воспоминание', new_memory_path %>
  
  <div id="memories">
    <% @memories.each do |memory| %>
      <%= render memory %>
      <p>
        <%= link_to "Show this memory", memory %>
      </p>
    <% end %>
  </div>
  
  <%= link_to "New memory", new_memory_path %>
</section>
