<%
  set_meta_tags(
    title: @memory_name,
    description: "Воспоминание твоей семьи",
    keywords: "family, memory",
    og: {
      title: @memory_name,
      type: "website",
      url: memory_url(@memory)
    }
  )
%>

<section class="MemoryShow">

  <div class="MemoryHead">
    <div class="breadcrumbs">
      <% if @profile %>
        <%= link_to 'Профиль', profile_path(@profile) %>
      <% end %>
      <%= link_to 'Воспоминания', my_memories_path %>
      <%= truncate(@memory.title, length: 40) %>
    </div>
    <h1 class="MemoryTitle"><%= @memory.title %></h1>
  </div>

  <%= image_tag 'about/HorizontalDivider.svg', class: 'MemoryDivider' %>

  <div class="MemoryBody">

    <div class="MemoryMainPart">
      <% if @memory.image? %>
        <div class="MemoryImage">
          <%= image_tag @memory.image.url %>
        </div>
      <% end %>

      <% if @memory.body? %>
        <div class="MemoryBodyText">
          <%= simple_format(@memory.body) %>
        </div>
      <% end %>

      <div class="EditButtons">
        <div class="AddToCollectionMenu">
          <button type="button" class="EditButton">
            Добавить в подборку
          </button>
          <div class="AddToCollectionDropdown">
            <% if @collections.any? %>
              <div class="AddToCollectionList">
                <% @collections.each do |collection| %>
                  <%= link_to collection.title, add_to_collection_memory_path(@memory, collection_id: collection.id), data: { turbo_method: :post }, class: "MoreMenuItem" %>
                <% end %>
              </div>
              <div class="AddToCollectionDivider"></div>
            <% end %>
            <%= link_to "Создать новую подборку", new_collection_path(memory_id: @memory.id), class: "MoreMenuItem" %>
          </div>
        </div>
        <% if @memory.family_member == current_user.family_member %>
          <div class="MoreMenu">
            <button type="button" class="MoreButton">
              <span class="Dot"></span>
              <span class="Dot"></span>
              <span class="Dot"></span>
            </button>
            <div class="MoreMenuDropdown">
              <%= link_to edit_memory_path(@memory), class: 'MoreMenuItem' do %>
                Редактировать
                <%= image_tag 'icons/EditIcon.svg', class: 'EditIcon' %>
              <% end %>
              <%= link_to "Удалить", @memory, data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'MoreMenuItem DeleteLink' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="AuthorInfo">
      <%
        author_profile = @memory.family_member&.user&.profile
        author_name    = author_profile&.name || @memory.family_member&.name || "Без имени"
        name_parts     = author_name.split(' ')
      %>

      <% if author_profile %>
        <%= link_to profile_path(author_profile), class: "AuthorCard" do %>
          <% if author_profile.avatar.attached? %>
            <%= image_tag author_profile.avatar, class: "AuthorAvatar" %>
          <% else %>
            <%
              avatar_colors = %w[#6795d6 #e19593 #f2de97 #6d8e6a #a3b7a1 #ffb4b2]
              color = avatar_colors[author_name.sum % avatar_colors.length]
              initials = name_parts.first(2).map { |w| w[0]&.upcase }.join
            %>
            <div class="AuthorAvatar AuthorAvatarPlaceholder" style="background-color: <%= color %>;">
              <span class="ProfileInitials"><%= initials %></span>
            </div>
          <% end %>
          <p class="AuthorInfoName"><%= name_parts.first %><br><%= name_parts[1..].join(' ') %></p>
        <% end %>
      <% else %>
        <div class="AuthorCard">
          <%
            avatar_colors = %w[#6795d6 #e19593 #f2de97 #6d8e6a #a3b7a1 #ffb4b2]
            color = avatar_colors[author_name.sum % avatar_colors.length]
            initials = name_parts.first(2).map { |w| w[0]&.upcase }.join
          %>
          <div class="AuthorAvatar AuthorAvatarPlaceholder" style="background-color: <%= color %>;">
            <span class="ProfileInitials"><%= initials %></span>
          </div>
          <p class="AuthorInfoName"><%= name_parts.first %><br><%= name_parts[1..].join(' ') %></p>
        </div>
      <% end %>

      <p class="AuthorInfoDate"><%= l(@memory.date, format: "%-d %B, %Y") %></p>

      <div class="Tags">
        <% tag_colors = ["#6795d6", "#e19593", "#f2de97", "#6d8e6a"] %>
        <% @memory.tags.each do |tag| %>
          <% color = tag_colors[tag.id % tag_colors.length] %>
          <span class="tag">
            <span class="tag-circle" style="background-color: <%= color %>;"></span>
            <%= tag.name %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="AuthorInfoSpacer"></div>

  </div>
</section>
