<%
  set_meta_tags(
    title: @memory_name,
    description: "Воспоминание твоей семьи",
    keywords: "family, memory",
    og: {
      title: @memory_name,
      type: "website",
      url: memory_url(@memory)
    }
  )
%>

<section class="MemoryShow">

  <div class="MainPart">
    <div class="breadcrumbs">
      <%= link_to 'Профиль', profile_path(@profile) %>
      <%= link_to 'Воспоминания', profile_memories_path(@profile) %>
      <%= @memory.title %>
    </div>
    
    <div class="MemoryInfo">
      <h1><%= @memory.title %></h1>
        <%= image_tag 'about/HorizontalDivider.svg', class: 'HorizontalDivider' %>

        <% if @memory.image? %>
          <div class="MemoryImage">
            <%= image_tag @memory.image.url %>
          </div>
        <% end %>

        <% if @memory.body? %>
          <div class="MemoryBody">
            <%= @memory.body %>
          </div>
        <% end %>
    </div>

    <div class="EditButtons">
      <%= link_to "Edit this memory", edit_memory_path(@memory), class: 'EditButton' %> 
      <%= link_to "Destroy this memory", @memory, data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'EditButton' %>
    </div>
  </div>

  <div class="AuthorInfo">
    <p class="AuthorInfoName"><%= (@profile.name || "Без имени") %></p>
    <p class="AuthorInfoDate"><%= @memory.date %></p>
    
    <div class="Tags">
      <%# Массив цветов как в списке воспоминаний %>
      <% tag_colors = ["#6795d6", "#e19593", "#f2de97", "#6d8e6a"] %>
      
      <% @memory.tags.each do |tag| %>
        <%# Логика выбора цвета по ID тега %>
        <% color = tag_colors[tag.id % tag_colors.length] %>
        
        <span class="tag">
          <span class="tag-circle" style="background-color: <%= color %>;"></span>
          <%= link_to tag.name, by_tag_memories_path(tag) %>
        </span>
      <% end %>
    </div>
  </div>
</section>
<%# <%= render "comments/comments", commentable: @memory %> 