<% content_for :head do %>
  <meta name="view-transition" content="same-origin">
<% end %>

<section class="TimelinePage" data-controller="type-filter">
  <div class="TimelineFilters">
    <%= form_with url: timeline_path, method: :get, html: { class: "TimelineFiltersLeft", data: { "type-filter-target": "form" } } do %>
      <%= hidden_field_tag "family_member_id", @filter_member&.id if @filter_member %>

      <div class="TimelineZoom">
        <%= hidden_field_tag "zoom", @zoom, data: { "type-filter-target": "zoom" } %>

        <button type="button" class="TimelineZoomButton <%= 'TimelineZoomButton--Active' if @zoom > 1 %>" data-action="click->type-filter#decrementZoom">
          <span class="MinusIcon"></span>
        </button>

        <div class="TimelineZoomTrack" data-type-filter-target="zoomTrack" data-max-zoom="<%= MemoriesHelper::ZOOM_LEVELS.size %>" data-action="pointerdown->type-filter#startDrag">
          <% levels_count = MemoriesHelper::ZOOM_LEVELS.size %>
          <% levels_count.times do |level_index| %>
            <% level = level_index + 1 %>
            <% is_last_pair = level == levels_count %>
            <% active_position = is_last_pair ? 1 : 0 %>
            <% [ 0, 1 ].each do |position| %>
              <% is_active_tick = position == active_position %>
              <span
                class="TimelineZoomTick <%= 'TimelineZoomTick--active' if is_active_tick && @zoom == level %>"
                <% if is_active_tick %>data-type-filter-target="zoomTick" data-level="<%= level %>"<% end %>
              ></span>
            <% end %>
          <% end %>
        </div>

        <button type="button" class="TimelineZoomButton <%= 'TimelineZoomButton--Active' if @zoom < MemoriesHelper::ZOOM_LEVELS.size %>" data-action="click->type-filter#incrementZoom">
          <span class="PlusIcon"></span>
        </button>
      </div>

      <div class="TimelineFilterDropdown dropdown-trigger" data-controller="dropdown" data-action="click->dropdown#toggle">
        <button type="button" class="TimelineFilterSelect">
          <span class="TimelineFilterSelectLabel">Тип воспоминания</span>
          <span class="ChevronIcon"></span>
        </button>

        <div class="TimelineFilterMenu">
          <% MemoriesHelper::TYPE_LABELS.each do |type_key, label| %>
            <label class="TimelineFilterOption <%= 'TimelineFilterOption--selected' if @selected_type == type_key %>">
              <%= radio_button_tag "type", type_key, @selected_type == type_key, class: "TimelineFilterRadio", data: { action: "change->type-filter#submitForm" } %>
              <%= label %>
            </label>
          <% end %>
        </div>
      </div>

      <div class="TimelineFilterDropdown dropdown-trigger" data-controller="dropdown" data-action="click->dropdown#toggle">
        <button type="button" class="TimelineFilterSelect">
          <span class="TimelineFilterSelectLabel">Хронология</span>
          <span class="ChevronIcon"></span>
        </button>

        <div class="TimelineFilterMenu">
          <% MemoriesHelper::SORT_LABELS.each do |sort_key, label| %>
            <label class="TimelineFilterOption <%= 'TimelineFilterOption--selected' if @sort == sort_key %>">
              <%= radio_button_tag "sort", sort_key, @sort == sort_key, class: "TimelineFilterRadio", data: { action: "change->type-filter#submitForm" } %>
              <%= label %>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="TimelineFiltersRight">
      <%= link_to "Вся семья", timeline_path(request.query_parameters.except("family_member_id")), class: "TimelineToggleButton #{'TimelineToggleButtonActive' unless @filter_member}" %>
      <%= link_to "Выбрать члена семьи", family_tree_path, class: "TimelineToggleButton #{'TimelineToggleButtonActive' if @filter_member}" %>
    </div>
  </div>

  <% if @filter_member %>
    <div class="TimelineAuthorChipRow">
      <span class="TimelineAuthorChip">
        <%= @filter_member.name %>
        <%= link_to timeline_path(request.query_parameters.except("family_member_id")), class: "TimelineAuthorChipReset", aria: { label: "Сбросить фильтр по автору" } do %>
          <span class="CrossIcon"></span>
        <% end %>
      </span>
    </div>
  <% end %>

  <% row_columns = MemoriesHelper::ZOOM_LEVELS[@zoom - 1] %>
  <div class="ProfileMemories TimelineMemoriesGrid" data-type-filter-target="grid" style="grid-template-columns: repeat(<%= row_columns %>, 1fr);">
    <% grid = memory_grid_widths(@memories, row_columns: row_columns) %>

    <% @memories.each_with_index do |memory, index| %>
      <%= render "memories/memory_card", memory: memory, width: grid[:memory_widths][index] %>
    <% end %>
  </div>
</section>
