<p style="color: green"><%= notice %></p>

<% content_for :title, "Subscriptions" %>

<h1>Subscriptions (<%= @subscriptions.count %>)</h1>

<div id="subscriptions">
  <% @subscriptions.each do |subscription| %>
    <%= render subscription %>
    <p>
      <%= link_to "Show this subscription", [:admin, subscription] %>
    </p>
  <% end %>
</div>

<%= link_to "New subscription", new_admin_subscription_path %>
