<nav class="S_MenuBar">
    <div>
        <%= link_to 'AETERNA', root_url %>
        <%= link_to 'О нас', pages_about_path %>
        <%= link_to 'Лента времени', timeline_path %>
        <%= link_to 'Сеть', family_web_path %>
        <%= link_to 'Cемейное древо', family_tree_path %>
    </div>

    <div>
        <%= link_to 'Создать воспоминание', new_memory_path %>
    </div>

    <div>
        <% if user_signed_in? %>
            <%= link_to current_user.email, edit_user_registration_path %>
            <%= link_to "Выйти", destroy_user_session_path, data: {"turbo_method": :delete } %>
        <% else %>
            <%= link_to "Войти", new_user_session_path %>
            <%= link_to "Зарегистрироваться", new_user_registration_path %>
        <% end %>
    </div>
</nav>
