<nav class="S_MenuBar">
    <div>
        <%= link_to 'AETERNA', root_url %>
        <%= link_to 'О нас', pages_about_path %>
        <%= link_to 'Лента времени', timeline_path %>
        <%= link_to 'Сеть', family_tree_path %>
    </div>

    <div>
        <%= link_to 'Создать воспоминание', new_memory_path %>
    </div>
</nav>