<section class="ShiftLeft">
  <%= form_for(@profile, url: update_profile_path) do |form| %>
    <% if @profile.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@profile.errors.count, "error") %> помешали сохранению:</h2>
        <ul>
          <% @profile.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="FormField">
      <%= form.label :name, "Ваше имя", style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="FormField">
      <%= form.label :birthday, "Дата рождения", style: "display: block" %>
      <%= form.date_field :birthday %>
    </div>

    <!-- Новое поле для аватарки -->
    <div class="FormField">
      <%= form.label :avatar, "Фото профиля", style: "display: block" %>
      <%= form.file_field :avatar, accept: 'image/*' %>
    </div>

    <div class="FormActions">
      <%= form.submit "Сохранить изменения" %>
    </div>
  <% end %>
</section>

