<section class="UserInfo">
    <div class="UserPhoto">
      <% if @profile&.avatar&.attached? %>
        <%= image_tag @profile.avatar, class: "ProfileImage" %>
      <% else %>
        <%
          avatar_colors = %w[#6795d6 #e19593 #f2de97 #6d8e6a #a3b7a1 #ffb4b2 ]
          name_str = @profile&.name.to_s
          color = avatar_colors[name_str.sum % avatar_colors.length]
          initials = name_str.split.first(2).map { |w| w[0]&.upcase }.join
        %>
        <div class="ProfilePlaceholder" style="background-color: <%= color %>;">
          <span class="ProfileInitials"><%= initials.presence || "?" %></span>
        </div>
      <% end %>
    </div>
    <div class="UserBio">
        <div class="UserBioName">
          <%= ((@profile&.name).presence || "Без имени").split(' ').join('<br>').html_safe %>
        </div>
        <div class="UserBioBirthday"><%= l(@profile.birthday, format: "%d %B, %Y") if @profile&.birthday %></div>
    </div>
    <div class="UserActionButtons">
        <% if can? :manage, @profile %>
        <div class="ProfileActions">
            <input type="checkbox" id="edit-profile-toggle" class="EditProfileToggle" <%= "checked" if @profile.errors.any? %>>
            <label for="edit-profile-toggle" class="EditButton">
            Редактировать
            <%= image_tag 'icons/EditIcon.svg', class: 'EditIcon' %>
            </label>

            <div class="EditProfileOverlay">
              <div class="EditProfileModal">
                <label for="edit-profile-toggle" class="EditProfileClose">
                  <span></span>
                  <span></span>
                </label>

                <%= form_for(@profile, url: update_profile_path, html: { class: "EditProfileForm" }) do |form| %>
                  <label class="EditProfileAvatar" id="edit-profile-avatar-label">
                    <% if @profile.avatar.attached? %>
                      <%= image_tag @profile.avatar, class: "EditProfileAvatarImg", id: "edit-profile-avatar-img" %>
                    <% else %>
                      <div class="ProfilePlaceholder EditProfileAvatarImg" id="edit-profile-avatar-placeholder" style="background-color: <%= avatar_colors[name_str.sum % avatar_colors.length] %>;">
                        <span class="ProfileInitials"><%= initials.presence || "?" %></span>
                      </div>
                    <% end %>
                    <span class="EditProfileAvatarHover">
                      <%= image_tag 'icons/ChangeAvatar.svg', class: 'EditProfileAvatarIcon' %>
                    </span>
                    <%= form.file_field :avatar, accept: 'image/*', class: "EditProfileAvatarInput", id: "edit-profile-avatar-input" %>
                  </label>

                  <h2 class="EditProfileName"><%= ((@profile&.name).presence || "Без имени").split(' ').join('<br>').html_safe %></h2>

                  <div class="EditProfileField">
                    <%= form.label :name, "Ваше имя", class: "EditProfileLabel" %>
                    <%= form.text_field :name, class: "EditProfileInput" %>
                  </div>

                  <div class="EditProfileField">
                    <%= form.label :birthday, "Дата рождения", class: "EditProfileLabel" %>
                    <%= form.date_field :birthday, class: "EditProfileInput" %>
                  </div>

                  <%= form.submit "Сохранить", class: "EditProfileSubmit" %>
                <% end %>
              </div>
            </div>

            <script>
              (function () {
                const input = document.getElementById('edit-profile-avatar-input');
                if (!input) return;

                input.addEventListener('change', function () {
                  const file = this.files[0];
                  if (!file) return;

                  const reader = new FileReader();
                  reader.onload = function (e) {
                    let img = document.getElementById('edit-profile-avatar-img');
                    const placeholder = document.getElementById('edit-profile-avatar-placeholder');

                    if (!img) {
                      img = document.createElement('img');
                      img.id = 'edit-profile-avatar-img';
                      img.className = 'EditProfileAvatarImg';
                      placeholder.replaceWith(img);
                    }

                    img.src = e.target.result;
                  };
                  reader.readAsDataURL(file);
                });
              })();
            </script>

            <div class="MoreMenu" data-controller="copy">
                <button type="button" class="MoreButton">
                    <span class="Dot"></span>
                    <span class="Dot"></span>
                    <span class="Dot"></span>
                </button>
                <div class="MoreMenuDropdown">
                    <button type="button" class="MoreMenuItem CopyFamilyCode" data-action="click->copy#copy" data-copy-text="<%= @profile.user.family&.invite_code %>">
                        Скопировать код семьи
                        <%= image_tag 'icons/CopyIcon.svg', class: 'CopyIcon' %>
                    </button>
                    <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'MoreMenuItem LogoutLink' do %>
                        Выйти
                        <%= image_tag 'icons/LogoutIcon.svg', class: 'LogoutIcon' %>
                    <% end %>
                </div>
                <div class="CopyToast" data-copy-target="toast">Код семьи скопирован</div>
            </div>
        </div>
        <% end %>
    </div>
</section>

<div class="TabsContainer">
  <!-- Скрытые переключатели -->
  <input type="radio" name="profile_tabs" id="tab1" checked class="tab-logic">
  <input type="radio" name="profile_tabs" id="tab2" class="tab-logic">

  <section class="ProfileNavBar">
    <label for="tab1" class="ProfileMemoriesButton">
      Воспоминания <span class="MemoriesCount"><%= @memories.count %></span>
    </label>
    <label for="tab2" class="ProfileSelectionsButton">
      Подборки <span class="MemoriesCount"><%= @collections.count %></span>
    </label>
  </section>

  <div class="ContentSection">
    <div id="memories-list" class="tab-panel">
      <div class="ProfileMemories">
        <% can_manage_profile = can?(:manage, @profile) %>
        <% grid = memory_grid_widths(@memories, include_add_space: can_manage_profile) %>

        <% if can_manage_profile %>
          <div class="AddMemorySpace MemoryItem <%= @memories.empty? ? 'CardFull' : '' %>" style="grid-column: span <%= grid[:add_space_width] %>;">
            <% if @memories.empty? %>
              <%= image_tag 'profile/EmptyFlower.svg', class: 'EmptyMemoriesDecor' %>
            <% end %>
            <h3 class="AddMemorySpaceText"><%= @memories.empty? ? 'У вас еще нет воспоминаний' : 'Добавить новое воспоминание' %></h3>
            <%= link_to new_memory_path, class: "AddMemoryButton" do %>
                Добавить <span class="PlusIcon"></span>
            <% end %>
          </div>
        <% elsif @memories.empty? %>
          <div class="AddMemorySpace MemoryItem CardFull" style="grid-column: span <%= MemoriesHelper::ROW_COLUMNS %>;">
            <%= image_tag 'profile/EmptyFlower.svg', class: 'EmptyMemoriesDecor' %>
            <h3 class="AddMemorySpaceText">У этого члена семьи еще нет воспоминаний</h3>
          </div>
        <% end %>

        <% @memories.each_with_index do |memory, index| %>
          <%= render "memories/memory_card", memory: memory, width: grid[:memory_widths][index] %>
        <% end %>
      </div>
    </div>
    <div id="collections-list" class="tab-panel">
      <div class="ProfileCollections">
        <% if can_manage_profile %>
          <%= link_to new_collection_path, class: "AddMemorySpace AddCollectionSpace #{'CardFull' if @collections.empty?}" do %>
            <% if @collections.empty? %>
              <%= image_tag 'profile/EmptyFlower.svg', class: 'EmptyMemoriesDecor' %>
            <% end %>
            <h3 class="AddMemorySpaceText"><%= @collections.empty? ? 'У вас еще нет подборок' : 'Добавить новую подборку' %></h3>
            <span class="AddMemoryButton">
              Добавить <span class="PlusIcon"></span>
            </span>
          <% end %>
        <% elsif @collections.empty? %>
          <div class="AddMemorySpace AddCollectionSpace CardFull">
            <%= image_tag 'profile/EmptyFlower.svg', class: 'EmptyMemoriesDecor' %>
            <h3 class="AddMemorySpaceText">У этого члена семьи еще нет подборок</h3>
          </div>
        <% end %>

        <% tag_colors = ["#6795d6", "#e19593", "#f2de97", "#6d8e6a"] %>

        <% @collections.each do |collection| %>
          <%= link_to collection_path(collection), class: "CollectionCard" do %>
            <%= image_tag "profile/collections/#{collection.decor_icon}", class: "CollectionCardDecor" %>
            <div class="CollectionCardImageWrap">
              <% cover_memory = collection.memories.first %>
              <% if cover_memory&.image.present? %>
                <%= image_tag cover_memory.image.preview.url, class: "CollectionCardImg" %>
              <% elsif cover_memory&.body.present? %>
                <div class="CollectionCardImg CollectionCardTextPreview"><%= truncate(cover_memory.body, length: 90, separator: " ") %></div>
              <% else %>
                <div class="CollectionCardImg CollectionCardImgPlaceholder"></div>
              <% end %>
            </div>
            <div class="CollectionCardFooter">
              <div class="CollectionCardInfo">
                <h3 class="CollectionCardTitle"><%= collection.title %></h3>
                <div class="tags">
                  <% collection.category_list.each do |tag| %>
                    <span class="tag">
                      <span class="tag-circle" style="background-color: <%= tag_colors[tag.sum % tag_colors.length] %>;"></span>
                      <%= tag %>
                    </span>
                  <% end %>
                </div>
              </div>
              <p class="CollectionCardDate"><%= l(collection.date, format: "%-d %B, %Y") if collection.date %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


