<li id="<%= dom_id(family_member) %>">
<strong><%= family_member.name.presence || "(без имени)" %></strong>
  &nbsp;—&nbsp;
  <%= link_to "Show", admin_family_member_path(family_member) %> |
  <%= link_to "Edit", edit_admin_family_member_path(family_member) %> |
  <%= link_to "Destroy", [:admin, family_member], data: { turbo_stream: false, turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</li>