<section class="AdminPage">
  <p style="color: green"><%= notice %></p>
  
  <%= render @family_member %>
  
  <hr>
  
  <h2>Детальная информация</h2>
  <p>Имя: <%= @family_member.name %></p>
  <p>Пол: <%= @family_member.gender %></p>
  <p>Мама: <%= @family_member.mother&.name || "-" %></p>
  <p>Папа: <%= @family_member.father&.name || "-" %></p>
  <p>Супруг(а): <%= @family_member.spouse&.name || "-" %></p>
  
  <h3>Дети</h3>
  <ul>
    <% @family_member.children.each do |c| %>
      <li><%= link_to c.name, admin_family_member_path(c) %></li>
    <% end %>
  </ul>
  
  <h3>Братья / сёстры</h3>
  <ul>
    <% @family_member.siblings.each do |s| %>
      <li><%= link_to s.name, admin_family_member_path(s) %></li>
    <% end %>
  </ul>
  
  <%= link_to "Back to family tree", admin_family_tree_path %>

  <hr>

  <h2>Воспоминания:</h2>

  <% if @memories.any? %>
    <ul style="list-style: none; padding: 0;">
      <% @memories.each do |memory| %>
        <li style="margin-bottom: 25px;">

          <%= link_to admin_memory_path(memory) do %>
            <%= image_tag memory.image.url, width: 200, style: "display: block; margin-bottom: 8px;" %>
          <% end %>

          <div style="font-weight: bold; font-size: 18px; margin-bottom: 4px;">
            <%= memory.title %>
          </div>

          <div style="margin-bottom: 6px;">
            <%= memory.body %>
          </div>

          <div>
            <%= memory.date.strftime("%d.%m.%Y") %>
          </div>

        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Пока нет воспоминаний.</p>
  <% end %>

</section>
